.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.items-container {
    margin-top: 10px;
}